@use "@/shared/lib/styles/mixin.scss" as *;

.article {
  display: grid;
  grid-template-columns: minmax(0, 300px) minmax(0, 1fr);
  gap: 40px;
  align-items: start;

  @include tablet {
    gap: 32px;
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

.toc {
  position: sticky;
  top: 120px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: calc(100vh - 120px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  @include mobile {
    position: static;
    max-height: unset;
    overflow-y: unset;
  }
}

.tocItem {
  width: 100%;
  border: 1px solid rgba(0, 0, 238, 0.2);
  border-radius: 40px;
  background: transparent;
  padding: 8px 20px;
  color: #00e;
  text-align: left;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
  justify-content: flex-start;
}

.tocItemSub {
  margin-left: 20px;
  width: calc(100% - 20px);

  @include mobile {
    margin-left: 12px;
    width: calc(100% - 12px);
  }
}

.tocItemActive {
  background: rgba(0, 0, 238, 0.2);
}

.tocLabel {
  display: block;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.03em;
}

.tocItemActive .tocLabel {
  font-weight: 700;
}

.contentRail {
  display: flex;
  min-width: 0;
  flex-direction: column;
  //gap: 24px;
}

.section {
  border-top: 1px solid #7573ff;
  padding: 21px 32px 20px;

  @include mobile {
    padding: 21px 24px 20px;
  }
}

.sectionTitle {
  margin: 0 0 8px;
  color: #111;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.sectionTitleMain {
  font-size: 32px;
}

.sectionTitleSub {
  font-size: 24px;
}

.sectionContent {
  color: #111;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.03em;

  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  blockquote {
    margin: 0;
  }

  h3,
  h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.03em;
  }

  h3 + p,
  h4 + p,
  p + p,
  p + ul,
  p + ol,
  ul + p,
  ol + p,
  blockquote + p {
    margin-top: 12px;
  }

  ul,
  ol {
    padding-left: 22px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li + li {
    margin-top: 4px;
  }

  a {
    color: #111;
    text-decoration: underline;
    text-underline-offset: 0.16em;
  }

  strong {
    font-weight: 700;
  }
}
