@use '@/shared/lib/styles/mixin.scss' as *;

.section {
  background: #ffffff;
  color: #111111;
}

.sectionInner {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 0;

  @include mobile {
    gap: 32px;
  }
}

.title {
  margin: 0;
  color: #111111;
  text-align: center;
  font-family: var(--font-clash-grotesk), sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.04em;

  @include mobile {
    font-size: 32px;
    line-height: 1.2;
  }
}

.grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  @include tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include mobile {
    gap: 32px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid #7573ff;
  padding: 33px 32px 32px;

  @include mobile {
    padding: 17px 16px 16px;
  }
}

.cardTitle {
  margin: 0;
  color: #111111;
  font-family: var(--font-clash-grotesk), sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.03em;

  @include mobile {
    font-size: 24px;
    letter-spacing: -0.04em;
  }
}

.cardDescription {
  margin: 0;
  color: #111111;
  font-family: var(--font-clash-grotesk), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.03em;

  @include mobile {
    font-size: 14px;
  }
}

.buttonWrap {
  display: flex;
  justify-content: center;
}
